@tailwind base;
@tailwind components;
@tailwind utilities;

html,


body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
  @apply transition-colors duration-200;
}

a {
  color: inherit;
  text-decoration: none;
}






